<div class="home-page">
    <h1>{{title}}</h1>
        <div class="home-content">
        <p>{{content}}</p>
        
        <div class="stats">
            <div class="stat-item">
                <h3>На рынке с {{companyInfo.year}}</h3>
            </div>
            <div class="stat-item">
                <h3>{{companyInfo.employees}}+ сотрудников</h3>
            </div>
        </div>
    </div>
</div>